* {
    transition: .3s ease-in-out !important;
}
html {
  background-color: black;
}
html body div#images {
    background-color: white;
}
div {
    transform: opacity 2s;
    opacity: 1;
}
body.fade-out {
    opacity: 0;
}
body.fade-in {
    opacity: 1;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.bluepicker {
    background: #0d47a1 !important;
    height: 50px !important;
    width: 50px !important;
    border-color: #0d47a1 !important;
    border-radius: 4px !important;
}
.pinkpicker {
    background: #880e4f !important;
    height: 50px !important;
    width: 50px !important;
    border-color: #880e4f !important;
    border-radius: 4px !important;
}
.greenpicker {
    background: #1b5e20 !important;
    height: 50px !important;
    width: 50px !important;
    border-color: #1b5e20 !important;
    border-radius: 4px !important;
}
.lightpicker {
    background: #eeeeee !important;
    height: 50px !important;
    width: 50px !important;
    border-color: #2d2d2d !important;
    border-radius: 4px !important;
}
.darkpicker {
    background: #2d2d2d !important;
    height: 50px !important;
    width: 50px !important;
    border-color: #2d2d2d !important;
    border-radius: 4px !important;
}
